{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "provider-azure.fullname" . }}-metrics
  labels:
    {{- include "provider-azure.labels" . | nindent 4 }}
spec:
  ports:
    - name: metrics
      port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "provider-azure.selectorLabels" . | nindent 4 }}
{{- end }}
