apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: clientsecrets.secret-manager.ngl.cx
spec:
  group: secret-manager.ngl.cx
  names:
    kind: ClientSecret
    listKind: ClientSecretList
    plural: clientsecrets
    shortNames:
    - cs
    singular: clientsecret
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          spec:
            allOf:
            - oneOf:
              - properties:
                  config:
                    $defs:
                      AzureConfig:
                        additionalProperties: false
                        properties:
                          objectId:
                            description: Azure AD application Object ID
                            type: string
                          template:
                            additionalProperties:
                              type: string
                            description: 'Template mapping for secret data. Available
                              variables: ClientID ClientSecret'
                            type: object
                          validity:
                            default: 2160h
                            description: Secret validity duration
                            type: string
                        required:
                        - objectId
                        - template
                        type: object
                    $id: https://github.com/lukasngl/client-secret-operator/internal/adapter/azure-config
                    $ref: '#/$defs/AzureConfig'
                    $schema: https://json-schema.org/draft/2020-12/schema
                  provider:
                    const: azure
