apiVersion: secret-manager.ngl.cx/v1alpha1
kind: ClientSecret
metadata:
  name: my-app
  namespace: default
spec:
  provider: azure
  config:
    # Azure AD application Object ID (required)
    object-id: "00000000-0000-0000-0000-000000000000"
    # How long the secret should be valid (optional, default: 90 days)
    validity: "2160h"
  secretRef:
    # Name of the Kubernetes Secret to create/update
    name: my-app-credentials
  template:
    # Map adapter outputs to secret keys using Go templates
    AZURE_CLIENT_ID: "{{ index . \"client-id\" }}"
    AZURE_CLIENT_SECRET: "{{ index . \"client-secret\" }}"
