---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: provider-azure
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - valet.ngl.cx
  resources:
  - azureclientsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - valet.ngl.cx
  resources:
  - azureclientsecrets/finalizers
  verbs:
  - update
- apiGroups:
  - valet.ngl.cx
  resources:
  - azureclientsecrets/status
  verbs:
  - get
  - patch
  - update
