apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "provider-mock.fullname" . }}
  labels:
    {{- include "provider-mock.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mock.valet.ngl.cx
  resources:
  - clientsecrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mock.valet.ngl.cx
  resources:
  - clientsecrets/finalizers
  verbs:
  - update
- apiGroups:
  - mock.valet.ngl.cx
  resources:
  - clientsecrets/status
  verbs:
  - get
  - patch
  - update
